<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Your Word Count</title>
</head>
<body>
    <div class="container">
        <h1>How many times "{{ word }}" appeared:</h1>
        {% if result == false %}
          <h3>There are no matches.</h3>
        {% else %}
          <h3>{{ word }} appears {{ result }} times!</h3>
        {% endif %}
        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
