<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Word Frequency</title>
</head>
<body>
    <div class='container'>
        <h1>Word Frequency</h1>
        <h3>Enter a sentence and a word that you would like to check for.</h3>
        <form action='/word_check'>
            <div class='form-group'>
              <label for='sentence'>Sentence:</label>
              <input id='sentence' name='sentence' class='form-control' type='text' required>
              <br>
              <label for='word'>Word:</label>
              <input id='word' name='word' class='form-control' type='text' required>
            </div>
            <button id='btn' type='submit' class='btn btn-success'>Let's Check!</button>
        </form>
    </div>
</body>
</html>
